extends layout

block content
    .editUserContainer.shadow
      if(user.avatar)
        img#userImage(src='/avatar', alt="user-image")
      else
        img#userImage(src='/images/users.png', alt="user-image")
      br
      .displayDetcont
        if(user.name)
          h2 #{user.name} 
        br
        h3#rank Global Rank #{user.rank}
        br
      .editUserForm
        form(action='', method='post', onsubmit='return validateEditUser()', enctype="multipart/form-data") 
          fieldset
            legend #[strong Edit Cover Picture]
            br
            input#avatar(type='file', name='avatar', accept='image/*', onchange='return fileUpload(event)')
            br
          fieldset#userDet
            legend #[strong Edit User Details]
            br
            label Name
            br
            input(type='text' name='name' placeholder="Name", min=3, max=100, value='#{user.name}' required)
            label Username
            br
            input(type='text' name='username' placeholder="User Name", min=3, max=100, value='#{user.username}' required)
            br
            label Age
            br
            input(type='date', name='age', min='1900-01-01', max='2003-01-01', value='#{user.dob}' required)
            br
            label Location
            br
            br
            select(name='location')
              option(value='America') Americas
              option(value='Europe') Europe
              option(value='Asia') Asia
              option(value='Oceania') Oceania
              option(value='Africa') Africa
            br
            br
            input(type='submit' value='Submit Changes')
            input(type='reset', value='Reset')
            if (error)
              p.error #{error}
          script(src='/javascripts/userSettings.js', type='text/javascript')
          script setSelected('#{user.location}');
            
