extends layout

block content
	.defaultbanner.shadow
		h1 FRIENDS
		p.shadow Here you can add new friends and chat with old ones. 
		p.shadow Find friends using our 
			a(href='/matchmaker') Matchmaker

	.friendsearch.shadow
		form
			label(for='friendName') Friend's Username: 
			input#friendadd(type='text', name='friendName')
			input(type='submit', name='submit')

	.friendslist
		p Here you can view your friends
		ul#friendlist
			each friend in friends 
				if friend.status == 'accepted'
					li
						img(src=friend.avatar)
						p #{friend.friend.username}
						p #{friend.friend.globalRank}
						a(href='/chat/#{friend.friend._id}') Chat
						a(href='/delete/#{friend.friend._id}') Remove Friend
		p Here you can view any friend requests
		ul
			each request in friends
				if request.status == 'pending'
					li
						img(src='#{request.friend.avatar}')
						p #{request.friend.name}
						a(href='/accept/#{request.friend._id}') Accept Request
						
