extends layout

block content
	.defaultbanner.shadow
		h1 FRIENDS
		p.shadow Here you can add new friends and chat with old ones. 
		p.shadow Find friends using our 
			a(href='/matchmaker') Matchmaker

	.friendsearch.shadow
		form
			label(for='friendName') Friend's Username: 
			input#friendadd(type='text', name='friendName')
			input(type='submit', name='submit')

	.myFriends.shadow
		p Your friends:
		ul#friendlist
			if (friends)
				each friend in friends 
					if (friend.status == 'accepted')
						li
							p #{friend.friend.username}: 
								a(href='/chat/#{friend.friend._id}') Chat
								a(href='/delete/#{friend.friend._id}') Delete
	.myRequests.shadow
		p Your friend requests:
		ul
			if (friends)
				each request in friends
					if (request.status == 'pending')
						li
							p Username: #{request.friend.name} 
								a(href='/accept/#{request.friend._id}') Accept
						
