doctype html
html
	head
		title=title
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.sticky-footer-wrapper
			header
				nav
					a(href='/about') About
					if (!user)
						a(href='/register') Register
						a(href='/login') Login
					else
						.dropdown
							a(href=user.profile) #{user.name}
							.dropdown-content
								a(href=user.profile) User Profile
								a(href=user.settings) User Settings
								a(href='/logout') Log Out
						a(href='/games') Games
						a(href='/friends') Friends
					a(href='/') Home
					a#barlogo(href='/')
						img(src='/images/logo.png', alt='Main Logo')
					h2#maintitle Game Node
			block content
		footer
			ul
				li
					a(href='/') Home
				if (user)
					li
						a(href='/friends') Friends
					li
						a(href='/games') Games
					li
						a(href=user.profile) #{user.name}
				else
					li
						a(href='/login') Login
					li
						a(href='/register') Register
				li
					a(href='/about') About
				li#time
				li#modtime
			script(src='/javascripts/footer.js', type='text/javascript')