extends layout 

block content
    .matchCont.shadow
      img.shadow(src='/images/Batman-joker.jpg', alt='Batman-joker')
      br
      h1 Find Your Matches
      br
      .matDescrip
        p #[strong #{user.name}], we will help you play games with your level of intellect.
              | Select games to find your preferred matches.
        
        
    .gamelist.shadow
      form(action='', method='POST', onsubmit='return validateMatchForm()') 
        fieldset#games
          label #[strong Choose Your Game]
          br
          br
          each mygame in user.gameRanks
            select(name='gameName')
              option(name='gameName', value='#{mygame.gameName}') #{mygame.gameName}
                    
        fieldset.additPref 
          p#pref(onclick='showPreferences()') Additional Preferences  
            img#downArrow(src='/images/arrow-down.png', alt="down-arrow")
          ol#prefList
            li 
              label Age
              input#fromAge(type='date', name='fromAge', placeholder="Min Age")
              input#toAge(type='date', name='toAge', placeholder="Max Age")
            li 
              label Rank
              input#ranks(type='number', name='rank', placeholder="Preferred Rank")
            li 
              label No of Matches
              input(type='number', name='noOfMat', placeholder='No of Matches ', max=10)
            li
              label Disable Location
              input(type="radio", name="locDis")
              input(type="hidden" name="username" value="#{user.username}")
              input(type="hidden" name="location" value="#{user.location}")
        input#matchButn(type='submit', value='Find Matches')      
          
    .gameListShowMatches  
        if(matches)
          table#matchResult
            tr
              th Name
              th Location
              th Game Name
              th Rank
			  th Friend Request
            each p in matches
              tr
                //td a(href='/play/'+p._id)
                td #{p.name} 
                td #{p.location}
                each game in p.gameRanks
                  td #{game.gameName} 
                  td #{game.rank}
                td
				          a(href='/request/#{p._id}') Add Friend
                
        script(src='/javascripts/validate.js', type='text/javascript')
        
                  
